.animation-variation:hover {
  display: inline-block;
  animation: variation 2s ease 0s 1 normal none;
  animation-delay: 0s !important;
  -webkit-animation: variation 2s ease 0s 1 normal none;
  background: #A4849C;
  background: linear-gradient(to top, #A4849C 17%, #323246 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes variation {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.fadeIn {
  animation: 1s ease 0s 1 normal backwards running fadeIn
}

.delay_ms_3 {
  animation-delay: .3s;
}

.delay_ms_5 {
  animation-delay: .5s;
}

.delay_ms_7 {
  animation-delay: .7s;
}

.delay_ms_9 {
  animation-delay: .9s;
}

.delay {
  animation-delay: 1s;
}

.delay_1 {
  animation-delay: 1.1s;
}

.delay_2 {
  animation-delay: 1.2s;
}

.delay_3 {
  animation-delay: 1.3s;
}

.delay_4 {
  animation-delay: 1.4s;
}

.delay_5 {
  animation-delay: 1.5s;
}

.delay_6 {
  animation-delay: 1.6s;
}

.delay_7 {
  animation-delay: 1.7s;
}

.delay_8 {
  animation-delay: 1.8s;
}

.delay_9 {
  animation-delay: 1.9s;
}

.delay_2s {
  animation-delay: 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.custom-loader {
  width: 100px;
  height: 100px;
  display: grid;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #a4849c 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}

.custom-loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 16px 16px;
  animation-timing-function: linear
}

@keyframes s2 {
  100% {
    transform: rotate(.5turn)
  }
}

.page-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d4c2d0;
}